<% var activeItem = count == 0 ? "active" : "" %>
<div class="carousel-item <%= activeItem %>" <% if (post.url_image) { %> style="background: url(<%- post.url_image %>) no-repeat center center fixed; background-size: cover;"<% } %>>
  <div class="container">
    <div class="carousel-caption">
      <article id="carousel-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
        <div class="article-inner rounded p-3" <% if (post.url_image) { %> style="background-color: rgba(90, 90, 90, .75)" <% } %>>
          <%- partial('post/gallery') %>
          <% if (post.link || post.title) { %>
            <header class="article-header">
              <%- partial('post/title', {class_name: 'article-title'}) %>
            </header>
          <% } %>
          <div class="article-entry text-left" itemprop="articleBody">
            <% if (post.excerpt && index) { %>
              <%- post.excerpt %>
              <% if (theme.excerpt_link) { %>
                <p class="article-more-link">
                  <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
                </p>
              <% } %>
            <% } else { %>
              <%- post.content %>
            <% } %>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
